<html>
    <head>
        <title>Quill Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8">

        <!-- Style -->
        <link rel="stylesheet" href="bower_components/quill/dist/quill.snow.css">
        <style>
            .input-error {
                border: 2px dashed red;
            }
        </style>

        <!-- Scripts -->
        <script type="text/javascript" src="bower_components/quill/dist/quill.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="src/ng-quill.js"></script>
        <script>
            // declare a module and load quillModule
            var myAppModule = angular.module('quillTest', ['ngQuill']);
            myAppModule.config(['ngQuillConfigProvider', function (ngQuillConfigProvider) {
                ngQuillConfigProvider.set([{
                    alias: '10',
                    size: '10px'
                }, {
                    alias: '12',
                    size: '12px'
                }, {
                    alias: '14',
                    size: '14px'
                }, {
                    alias: '16',
                    size: '16px'
                }, {
                    alias: '18',
                    size: '18px'
                }, {
                    alias: '20',
                    size: '20px'
                }, {
                    alias: '22',
                    size: '22px'
                }, {
                    alias: '24',
                    size: '24px'
                }], [{
                    label: 'Arial',
                    alias: 'Arial'
                }, {
                    label: 'Sans Serif',
                    alias: 'sans-serif'
                }, {
                    label: 'Serif',
                    alias: 'serif'
                }, {
                    label: 'Monospace',
                    alias: 'monospace'
                }, {
                    label: 'Trebuchet MS',
                    alias: '"Trebuchet MS"'
                }, {
                    label: 'Verdana',
                    alias: 'Verdana'
                }])
            }]);
            myAppModule.controller('AppCtrl',['$scope', 'ngQuillConfig', function($scope, ngQuillConfig) {

                $scope.showToolbar = true;

                $scope.translations = angular.extend({}, ngQuillConfig.translations, {
                    10: 'smallest'
                });

                $scope.toggle = function() {
                    $scope.showToolbar = !$rootScope.showToolbar;
                };
            }]);

        </script>

    <body ng-app="quillTest" ng-controller="AppCtrl">
        <button ng-click="toggle()">Toggle toolbar</button>
        <div style="width: 500px; height: 300px;">
            <ng-quill-editor ng-model="message" translations="translations" toolbar="true" show-toolbar="showToolbar" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" required="" error-class="input-error"
            fontsize-options="fontsizeOptions" fontfamily-options="fontfamilyOptions"></ng-quill-editor>
        </div>
    </body>
</html>
