<html>
    <head>
        <title>Quill Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8">

        <!-- Style -->
        <link rel="stylesheet" href="//cdn.quilljs.com/1.1.5/quill.snow.css">
        <link rel="stylesheet" href="//cdn.quilljs.com/1.1.5/quill.bubble.css">

        <style>
            ng-quill-editor.ng-invalid .ql-container {
                border: 1px dashed red;
            }
        </style>

        <!-- Scripts -->
        <script type="text/javascript" src="//code.angularjs.org/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="//cdn.quilljs.com/1.1.5/quill.js"></script>
        <script type="text/javascript" src="src/ng-quill.min.js"></script>
        <script>
            // declare a module and load quillModule
            var myAppModule = angular.module('quillTest', ['ngQuill']);
            myAppModule.config(['ngQuillConfigProvider', function (ngQuillConfigProvider) {
                ngQuillConfigProvider.set();
            }]);
            myAppModule.controller('AppCtrl', [
                '$scope',
                '$timeout',
                function($scope, $timeout) {
                    $scope.title = 'Quill works';

                    $timeout(function () {
                        $scope.title += ' awsome!!!'
                    }, 2000);

                    $scope.editorCreated = function (editor) {
                        console.log(editor);
                    };
                    $scope.contentChanged = function (editor, html, text) {
                        console.log('editor: ', editor, 'html: ', html, 'text:', text);
                    };
                }
            ]);

        </script>

    <body ng-app="quillTest" ng-controller="AppCtrl">
        <h3>Default editor + Callbacks/Outputs in JS console</h3>
        {{model.title}}
        <ng-quill-editor ng-model="title" on-editor-created="editorCreated(editor)" on-content-changed="contentChanged(editor, html, text)"></ng-quill-editor>

        <h3>Bubble editor</h3>
        <ng-quill-editor theme="bubble" ng-model="title"></ng-quill-editor>

        <h3>Editor without toolbar + required and ngModule</h3>
        <ng-quill-editor ng-model="title" required="true" modules="{toolbar: false}"></ng-quill-editor>
    </body>
</html>
